apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: mysql-ns
  labels:
    app: mysql
    tier: database
spec:
  type: ClusterIP
  selector:
    app: mysql
    tier: database
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
