apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: web-ns
  labels:
    app: employees
    tier: frontend
spec:
  type: NodePort
  selector:
    app: employees
    tier: frontend
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30000
